VITE_API_BASE_URL=http://localhost:5172
VITE_SUPABASE_URL=https://hemoqtqlczjgtrfibudj.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhlbW9xdHFsY3pqZ3RyZmlidWRqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzUwODgzNDksImV4cCI6MjA5MDY2NDM0OX0.hqNLSdRZ8OxVOyBcEeYTrXWF6e4na_VefiN-sXN1JHA 
VITE_SUPABASE_EMAIL_REDIRECT_URL=http://localhost:5173/email-confirmed



""